.hero{
    width: 1240px;
    font-family: var(--font-syne);
    margin: 0 100px 0 100px;
    position: relative;
}

.hero_container{
    background: #1A1A1A;
    border-radius: 50px;
    padding: 90px 60px;
}

.hero_container_header{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 22px;
    justify-content: space-between;
    font-weight: bold;
    position: relative;
    z-index: 10;
}

.hero_container_title{
    font-size: 100px;
    font-weight: bold;
    margin-top: 80px;
    position: relative;
    z-index: 10;
}
.hero_container_description{
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 110px;
    position: relative;
    z-index: 10;
}
.btn_tickets{
    width: 334px;
    height: 74px;
    border-radius: 100px;
    background: linear-gradient(60deg, rgba(1, 71, 255, 1), rgba(1, 71, 255, 0.2));

    border: 1px solid black;
    display: flex;
    justify-content:  center;
    align-items: center;
    gap: 1.4vh;
}
.hero_background{
    position: absolute;
    bottom: 2%;
    right: 110px;
    z-index: 1;
}