.header_logo{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    height:  12.5vh;
    display: flex;
    flex-direction: row;
    margin: 0  100px;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-syne);
}